<!--home.html-->
{% extends "base.html" %}

{% block content %}


    <!--
    <div class="Category">
        {% for tag in Categories %}
            <h2>
                <a href="{% url 'tags' tag.name %}">{{ tag.name }}</a>
            </h2> 
        {% endfor %}
    </div>

    -->



    <div class="row" style="margin:50px 0 0 0;">
        <div class="col-sm-6 col-md-3">
            <div style="text-align:center;">
                <img src="/static/picture_tags/python.jpeg" width="150" height="150"
                    alt="python">
                    </div>
            <div class="caption" style="text-align:center;">
                <h2 style="text-align:center;">python</h2>
                
                <p>
                <a href="https://www.python.org/" class="btn btn-primary" role="button">
                    进入网站
                </a>
                <a href="/python/" class="btn btn-default" role="button">
                    查看书籍
                </a>
                </p>
            </div>
        </div>
        
        <div class="col-sm-6 col-md-3">
            <div style="text-align:center;">
                <img src="/static/picture_tags/java.png" class="img-rounded" width="150" height="150"
                    alt="java">
                    </div>
            <div class="caption" style="text-align:center;">
                <h2 style="text-align:center;">java</h2>
                <p>
                <a href="https://www.java.com/en/" class="btn btn-primary" role="button">
                    进入网站
                </a>
                <a href="/java/" class="btn btn-default" role="button">
                    查看书籍
                </a>
                </p>
            </div>
        </div>
        
        <div class="col-sm-6 col-md-3">
            <div style="text-align:center;">
                <img src="/static/picture_tags/linux.png" class="img-rounded" width="150" height="150"
                    alt="linux">
                    </div>
            <div class="caption" style="text-align:center;">
                <h2 style="text-align:center;">linux</h2>
                <p>
                <a href="https://www.linux.org/" class="btn btn-primary" role="button">
                    进入网站
                </a>
                <a href="/linux/" class="btn btn-default" role="button">
                    查看书籍
                </a>
                </p>
            </div>
        </div>
        
        <div class="col-sm-6 col-md-3">
            <div style="text-align:center;">
                <img src="/static/picture_tags/cplusplus.png" class="img-rounded" width="150" height="150"
                    alt="c++">
                    </div>
            <div class="caption" style="text-align:center;">
                <h2 style="text-align:center;">c++</h2>
                <p>
                <a href="http://www.cplusplus.com/" class="btn btn-primary" role="button">
                    进入网站
                </a>
                <a href="/c++/" class="btn btn-default" role="button">
                    查看书籍
                </a>
                </p>
            </div>
        </div>
    </div>
    <div class="row" style="margin:50px 0 0 0;">
         <div class="col-sm-6 col-md-3">
            <div style="text-align:center;">
                <img src="/static/picture_tags/network.jpeg" class="img-rounded" width="150" height="150"
                    alt="network">
            </div>
            <div class="caption" style="text-align:center;">
                <h2 style="text-align:center;">network</h2>
                <p>
                <a href="https://zh.wikipedia.org/wiki/%E8%AE%A1%E7%AE%97%E6%9C%BA%E7%BD%91%E7%BB%9C" class="btn btn-primary" role="button">
                    进入网站
                </a>
                <a href="/network/" class="btn btn-default" role="button">
                    查看书籍
                </a>
                </p>
            </div>
        </div>
         <div class="col-sm-6 col-md-3">
             <div style="text-align:center;">
                 <img src="/static/picture_tags/sql.jpeg" class="img-rounded" width="150" height="150"
                     alt="sql">
                     </div>
             <div class="caption" style="text-align:center;">
                 <h2 style="text-align:center;">sql</h2>
                 <p>
                 <a href="https://zh.wikipedia.org/wiki/%E6%95%B0%E6%8D%AE%E5%BA%93" class="btn btn-primary" role="button">
                     进入网站
                 </a>
                 <a href="/sql/" class="btn btn-default" role="button">
                     查看书籍
                 </a>
                 </p>
             </div>
         </div>
         <div class="col-sm-6 col-md-3">
             <div style="text-align:center;">
                 <img src="/static/picture_tags/algorithm.jpeg" class="img-rounded" width="150" height="150"
                     alt="algorithm">
                     </div>
             <div class="caption" style="text-align:center;">
                 <h2 style="text-align:center;">algorithm</h2>
                 <p>
                 <a href="https://zh.wikipedia.org/wiki/%E7%AE%97%E6%B3%95" class="btn btn-primary" role="button">
                     进入网站
                 </a>
                 <a href="/algorithm/" class="btn btn-default" role="button">
                     查看书籍
                 </a>
                 </p>
             </div>
         </div>
         <div class="col-sm-6 col-md-3">
             <div style="text-align:center;">
                 <img src="/static/picture_tags/operationsystem.jpeg" class="img-rounded" width="150" height="150"
                     alt="c++">
                     </div>
             <div class="caption" style="text-align:center;">
                 <h2 style="text-align:center;">operation system</h2>
                 <p>
                 <a href="https://zh.wikipedia.org/wiki/%E6%93%8D%E4%BD%9C%E7%B3%BB%E7%BB%9F" class="btn btn-primary" role="button">
                     进入网站
                 </a>
                 <a href="/operationsystem/" class="btn btn-default" role="button">
                     查看书籍
                 </a>
                 </p>
             </div>
         </div>
        
    </div>
{% endblock %}
