<!--show_tags.html-->
{% extends "base.html" %}

{% block content %}

<!--
<form enctype="multipart/form-data" action="/uploadFile/" method="post">
    <input type="file" name="myfile" />
    <br/>
    <input type="submit" value="upload"/>
</form>

-->



<div style="margin:50px 0 0 50px;">
    <div id="picker" style="float:left;margin:10px 0 0 50px;" >请选择文件</div>
    <div id="progress" class="progress" style="width:500px;float:left;margin:10px 0 0 20px;">
        <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:0%;"></div>
    </div>
    <div style="clear:both;"></div>
</div>

<div style="margin:50px 0 0 50px;heigth:30px;width:700px;">
    <form role="form" action="/submit_form/">
        <div class="form-group" style="margin:50px 0 0 50px;">
            <label for="firstname" class="col-sm-2 control-label">书籍名字</label>
            <div class="col-sm-10">
                <input name="book_name" type="text" class="form-control" id="firstname"
                    placeholder="请输入书籍名字，与上传文件的名字相同，例如 爬虫.pdf,以pdf格式上传">
                    </div>
        </div>
        <div style="clear:both;"></div>
        <div class="form-group" style="margin:50px 0 0 50px;">
            <label for="lastname" class="col-sm-2 control-label">上传人的昵称</label>
            <div class="col-sm-10">
                <input name="people_name" type="text" class="form-control" id="lastname"
                    placeholder="请输入专属自己的可爱昵称哦">
                    </div>
        </div>
        <div style="clear:both;"></div>
        <div class="form-group" style="margin:50px 0 0 50px;">
            <label for="lastname" class="col-sm-2 control-label">上传人的邮箱</label>
            <div class="col-sm-10">
                <input name="people_mail" type="text" class="form-control" id="lastname"
                    placeholder="请输入自己的邮箱，方面与您联系呢">
                    </div>
        </div>
        <div style="clear:both;"></div>
        <div class="form-group" style="margin:50px 0 0 50px;">
            <label for="name">选择书籍的标签</label>
            <select name="book_tag" class="form-control">
                <option>python</option>
                <option>java</option>
                <option>linux</option>
                <option>c++</option>
            </select>
            
            
        <div class="form-group" style="margin:50px 0 0 50px;">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">提交表单</button>
            </div>
        </div>
    </form>
</div>


<script type="text/javascript">
$(document).ready(function() {
    var task_id = WebUploader.Base.guid(); // 产生文件唯一标识符task_id
    var uploader = WebUploader.create({
        swf: '/static/webuploader/Uploader.swf',
        server: '{% url 'upload_part' %}', // 上传分片地址
        pick: '#picker',
        auto: true, //自动上传
        chunked: true, //分片上传
        chunkSize: 20 * 1024 * 1024, //每个分片的大小
        chunkRetry: 3, //某个分片出现问题，自动重传次数
        threads: 1, //最大上传进程数
        duplicate: true, //去重
        formData: { // 上传分片的http请求中一同携带的数据
        task_id: task_id,
        },
    });
    uploader.on('startUpload', function() { // 开始上传时，调用该方法
        $('#progress').show();
        $('.progress-bar').css('width', '0%');
        $('.progress-bar').text('0%');
        $('.progress-bar').removeClass('progress-bar-danger progress-bar-success');
        $('.progress-bar').addClass('active progress-bar-striped');
    });
    uploader.on('uploadProgress', function(file, percentage) { // 一个分片上传成功后，调用该方法
        $('.progress-bar').css('width', percentage * 100 - 1 + '%');
        $('.progress-bar').text(Math.floor(percentage * 100 - 1) + '%');
    });
    uploader.on('uploadSuccess', function(file) { // 整个文件的所有分片都上传成功后，调用该方法
        var data = { 'task_id': task_id, 'filename': file.source['name'] };
        $.get('{% url 'upload_success' %}', data);
        $('.progress-bar').css('width', '100%');
        $('.progress-bar').text('100%');
        $('.progress-bar').addClass('progress-bar-success');
        $('.progress-bar').text('上传完成');
    });
    uploader.on('uploadError', function(file) { // 上传过程中发生异常，调用该方法
        $('.progress-bar').css('width', '100%');
        $('.progress-bar').text('100%');
        $('.progress-bar').addClass('progress-bar-danger');
        $('.progress-bar').text('上传失败');
    });
    uploader.on('uploadComplete', function(file) { // 上传结束，无论文件最终是否上传成功，该方法都会被调用
        $('.progress-bar').removeClass('active progress-bar-striped');
    });
    $('#progress').hide();
});
</script>
 
 

{% endblock %}


